<div class="row">
  <div class="col-lg-12">
    <h1>Genres</h1>
  </div>
  <div class="col-lg-4 col-lg-offset-8 pull-right">
    <%= link_to "Add a genre", new_genre_path, class: "btn btn-success"  %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="datatable">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Description</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Description</td>
          <td>Actions</td>
        </tr>
      </tfoot>
      <tbody>
        <% @genres.each do |g| %>
          <tr>
            <td><%= g.id %></td>
            <td><%= g.name %></td>
            <td><%= g.description %></td>
            <td><%= link_to "Show", genre_path(g), class: "btn btn-warning" %><%= link_to "Delete", genre_path(g), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
