<div class="col-lg-12">
  <h1>Genre <%= @genre.name %></h1>
  <div class="row">
    <div class="col-lg-3">
      <b>ID:</b>
    </div>
    <div class="col-lg-9">
      <p><%= @genre._id %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <b>Name:</b>
    </div>
    <div class="col-lg-9">
      <p><%= @genre.name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <b>Description:</b>
    </div>
    <div class="col-lg-9">
      <p><%= @genre.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= link_to "Edit", edit_genre_path(@genre), class: "btn btn-warning" %>  <%= link_to "Delete", genre_path(@genre), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
