<%= form_for @video do |f| %>
  <div class="form-group">
    <%= f.label(:name) %>
    <%= f.text_field(:name, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:youtube_id) %>
    <%= f.text_field(:youtube_id, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:genre) %>
    <%= f.collection_select(:genre, Genre.all, :id, :name,{prompt: "Select a genre"}, {class: "form-control"} ) %>
  </div>
  <div class="form-group">
    <%= f.submit("Submit", class: "btn btn-primary") %>
  </div>
<% end %>
