<div class="row">
  <div class="col-lg-12">
    <h1>Videos</h1>
  </div>
  <div class="col-lg-4 col-lg-offset-8 pull-right">
    <%= link_to "Add a video", new_video_path, class: "btn btn-success"  %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="datatable">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Youtube ID</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Youtube ID</td>
          <td>Actions</td>
        </tr>
      </tfoot>
      <tbody>
        <% @videos.each do |v| %>
          <tr>
            <td><%= v._id %></td>
            <td><%= v.name %></td>
            <td><%= v.youtube_id %></td>
            <td><%= link_to "Edit", edit_video_path(v), class: "btn btn-warning"%><%= link_to "Delete", video_path(v), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
