<div class="col-lg-12">
  <h1>Video Player</h1>

  <%= form_tag do |f| %>
    <%= hidden_field_tag(:video_id, "", {id: "video-id-holder"}) %>
    <%= hidden_field_tag(:youtube_vide_id, "", {id: "youtube-video-id-holder"}) %>

    <div class="row">
      <div class="col-lg-9">
        <div class="form-group">
          <%= label_tag(:genre) %>
          <%= collection_select(:genre, :genre_id, Genre.all, :id, :name,{:selected => @genre_id}, {class: "form-control", id: "genre-select"} ) %>
        </div>
        <div id="video-player"></div>
        <h1 id="video-error-message"></h1>
        <div class="form-group">
          <button type="button" class= "btn btn-primary" id= "next-video">Next Video</button>
        </div>
      </div>
      <div class="col-lg-3">
        <h3>Already watched videos</h3>
        <ul id="previous-videos-list">
          <% @videos.each do |v| %>
            <li><%= v.name %></li>
          <% end %>
        </ul>
      </div>
    </div>


  <% end %>
</div>
